* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.main-container {
    background: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;

}


.main-nav {
    display: flex;
    justify-content: space-between;
    width: 88%;
    max-width: 144rem;
    padding-top: 5rem;
    margin: 0 auto;
    /* padding-right: 10rem; */
    /* padding-left: 10rem; */
    /* padding-bottom: 7.5rem; */
    padding-bottom: 6.5rem;
    align-items: center;
}

.main-nav-logo {
    height: 3rem;
    width: auto;
}

.main-nav-btn {
    border: none;
    background-color: #FFFFFF;
    padding: 0.9rem 4rem 0.9rem 4rem;
    border-radius: 2rem;
    text-align: center;
	text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(214, 209, 209, 0.815);
    font-family: "poppins";
    font-weight: 600;
    font-size: 12px;
}


.main-box {
    display: flex;
    width: 88%;
    max-width: 144rem;
    /* gap: 5rem; */
    margin: 0 auto;
    /* padding-right: 10rem; */
    /* padding-left: 10rem; */
    padding-bottom: 6rem;
    align-items: center;
    
}

.main-box-content {
    /* padding-top: 8rem;
    padding-bottom: 7rem; */
    flex: 1;
}

.main-image-container {
    flex: 1;
}


.main-img {
    /* max-width: 52%; */
    max-width: 100%;
}
 

.main-box-heading {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 3.9rem;
    padding-bottom: 2rem;
    margin-right: 12rem;
    /* line-height: 6rem; */
}

.main-box-para {
    font-family: "open Sans";
    font-weight: 700;
    font-size: 1.8rem;
    color: hsl(200, 2%, 24%);
    padding-bottom: 2.5rem;
    padding-right: 10rem;
}

.main-box-btn {
    font-family: "poppins";
    font-weight: 600;
    color: white;
    border: none;
    background-color: hsl(322, 100%, 66%);
    border-radius: 3rem;
    font-size: 13px;
    padding: 1.5rem 6rem 1.5rem 6rem;
    text-align: center;
	text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(214, 209, 209, 0.815);
}


@media (min-width: 1044px) and (max-width: 1245px) {
    .main-nav {
        width: 86%;
        padding-top: 3.8rem;
        padding-bottom: 4.5rem;

    }

    .main-nav-logo {
        height: 2.6rem;
    }

    .main-nav-btn {
        font-size: 12px;
        padding: 0.8rem 4rem 0.8rem 4rem;
    }
    
    .main-box {
        width: 86%;
        padding-bottom: 4rem;
    }

    .main-box-heading {
        font-size: 3rem;
        padding-bottom: 1.rem;
        line-height: 4rem;

        
    }

    .main-box-para {
        font-size: 1.39rem;
    }

    .main-box-btn {
        font-size: 10px;
        padding: 1.2rem 4.5rem 1.2rem 4.5rem;
    }

        
}

@media (min-width: 846px) and (max-width: 1043px) {
    .main-nav {
        width: 88%;
        padding-top: 3.6rem;
        padding-bottom: 4.5rem;

    }

    .main-nav-logo {
        height: 2.2rem;
    }

    .main-nav-btn {
        font-size: 10px;
        padding: 0.6rem 3rem 0.6rem 3rem;
    }
    
    .main-box {
        width: 88%;
        padding-bottom: 4rem;
    }

    .main-box-heading {
        font-size: 2.3rem;
        padding-bottom: 1.1rem;
        line-height: 3.3rem;
        margin-right: 9rem;


    }

    .main-box-para {
        font-size: 1.3rem;
        padding-bottom: 1.8rem;
        padding-right: 7.8rem;


    }

    .main-box-btn {
        font-size: 8.8px;
        padding: 0.9rem 3.6rem 0.9rem 3.6rem;
    }

        
}


@media (min-width: 701px) and (max-width: 845px) {
    .main-nav {
        width: 88%;
        padding-top: 2.8rem;
        padding-bottom: 3.8rem;

    }

    .main-nav-logo {
        height: 1.75rem;
    }

    .main-nav-btn {
        font-size: 8.5px;
        padding: 0.4rem 2rem 0.4rem 2rem;
    }
    
    .main-box {
        width: 88%;
        padding-bottom: 3rem;
    }

    .main-box-heading {
        font-size: 1.72rem;
        padding-bottom: 0.6rem;
        line-height: 2.4rem;
        margin-right: 7rem;


    }

    .main-box-para {
        font-size: 1.17rem;
        padding-bottom: 1.6rem;
        padding-right: 7.5rem;


    }

    .main-box-btn {
        font-size: 8.3px;
        padding: 0.65rem 3.4rem 0.65rem 3.4rem;
    }
    

        
}

@media (min-width: 489px) and (max-width: 700px) {
    .main-nav {
        width: 92%;
        padding-top: 5rem;
        padding-bottom: 17rem;

    }

    .main-nav-logo {
        height: 3.3rem;
    }

    .main-nav-btn {
        font-size: 1.9rem;
        padding: 0.9rem 4.5rem 0.9rem 4.5rem;
        border-radius: 3rem;
    }
    
    .main-box {
        width: 92%;
        flex-direction: column;
        /* margin: 0 auto;
        align-items: center; */
        padding-bottom: 7rem;
    }

    .main-box-heading {
        font-size: 4.8rem;
        padding-bottom: 4.8rem;
        line-height: 6.8rem;
        margin: 0;
        text-align: center;
    }

    .main-box-para {
        font-size: 3rem;
        padding-bottom: 6rem;
        padding-right: 0;
        text-align: center;
        line-height: 4.6rem;
        font-weight: 500;
        margin: auto;

    }

    .main-box-btn {
        font-size: 2.3rem;
        padding: 2rem 11rem 2rem 11rem;
        border-radius: 4rem;
        display: flex;
        margin: auto;
        justify-content: center;
        margin-bottom: 10.5rem;
    }
    

        
}


@media (min-width: 350px) and (max-width: 488px) {
    .main-nav {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 9rem;

    }

    .main-nav-logo {
        height: 2.3rem;
    }

    .main-nav-btn {
        font-size: 1.3rem;
        padding: 0.7rem 2.9rem 0.7rem 2.9rem;
        border-radius: 3rem;
    }
    
    .main-box {
        width: 90%;
        flex-direction: column;
        padding-bottom: 6.5rem;
    }

    .main-box-heading {
        font-size: 3.3rem;
        padding-bottom: 3.7rem;
        line-height: 4.4rem;
        margin: 0;
        text-align: center;
    }

    .main-box-para {
        font-size: 1.73rem;
        padding-bottom: 5rem;
        padding-right: 0;
        text-align: center;
        line-height: 2.8rem;
        font-weight: 500;
        margin: auto;

    }

    .main-box-btn {
        font-size: 1.6rem;
        padding: 1.3rem 7.2rem 1.3rem 7.2rem;
        border-radius: 3rem;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 7.5rem;
    }
        
}































































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }